<div class="contact-container" appScrollAnimation>
    <h1>Contact</h1>
    <div class="contact-info">
        <p>Email: <a href="mailto:digambardeshmukhoffice@gmail.com">digambardeshmukhoffice@gmail.com</a></p>
        <p>Phone: <a href="tel:+919307055418">+91 9307055418</a></p>
        <p>GitHub: <a href="https://github.com/digambardeshmukh12" target="_blank">github.com/digambardeshmukh12</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/digambar2001/" target="_blank">linkedin.com/in/digambar2001</a></p>
    </div>
</div>
