<div class="about-container" appScrollAnimation>
  <h1 class="about-title">About Me</h1>
  <img src="../../../assets/IMG_20220823_011807_552.jpg" alt="Profile Picture" class="profile-img">
  <h2 class="name">Digambar Deshmukh</h2>
  <h3 class="designation">Full-Stack Developer</h3>
  <p class="about-description">
      Full-stack developer with a strong focus on front-end technologies like Angular. My main goal is to create visually
      appealing and user-friendly web applications that people love to use. While I’m also skilled in .NET Core and Spring
      Boot, I put a lot of emphasis on making sure the front-end experience is top-notch. I’m really passionate about
      database management and ensuring our solutions are robust and reliable. Plus, I’m always eager to learn and stay
      updated on the latest trends in the industry so I can bring fresh ideas to every project I work on.
  </p>
</div>
