.projects {
    display: flex;
    gap: 15px;
}

 

.project-header {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 0.9em;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(135deg, #333333, #000000);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}


.subtitle {
    color: rgb(226, 163, 81);
}
.project-card {
    padding: 20px;
    max-height: 80px;  
    width: 500px;
    border-radius: 50px;
    background: linear-gradient(135deg, #333333, #000000);
    box-shadow: 32px -32px 63px #2e2e2e4c, -32px 32px 63px #1b1a1a44;
    overflow: hidden;  
    transition: max-height 0.5s ease, box-shadow 0.5s ease;  
}

.project-card:hover {
    max-height: 600px; /* Large enough to accommodate expanded content */
    box-shadow: 32px -32px 63px #2e2e2e4c, -32px 32px 63px #1b1a1a44;
}

.description {
    color: #dddddd;
    padding: 10px;
    width: 100%; /* Ensure it takes full width of the card */
    opacity: 0;
    transform: translateY(20px); /* Initial off-screen position */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.project-card:hover .description {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
}
