<div class="skills-container">
  <h1>Skills</h1>

  <div class="skill-category">
    <div class="category-title">PROGRAMMING LANGUAGES</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-js"></i>
          <span class="Skill-Name">JavaScript</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-java"></i>
          <span class="Skill-Name">Java</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/c-sharp-c.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">C#</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-html5"></i> 
          <span class="Skill-Name">HTML</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-css3-alt"></i>
           <span class="Skill-Name">CSS</span>
        </div>
      </div>

    </div>
  </div>




  <div class="skill-category">
    <div class="category-title">Database</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/plsql.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">PostgreSQL</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/sql.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">SQL Server</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/mysql.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">MySQL</span>
        </div>
      </div>



    </div>
  </div>




  <div class="skill-category">
    <div class="category-title">Tools and Frameworks</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-angular"></i>
          <span class="Skill-Name">Angular</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/asp.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">.NET Core</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/spring.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">Spring Boot</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/vs.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">Visual Studio</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-android"></i>
          <span class="Skill-Name">Android Studio</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
          <img src="../../assets/eclipse.svg" alt="Profile Picture" class="languageImage">
          <span class="Skill-Name">Eclipse</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
          <i class="fa-brands fa-github"></i>
          <span class="Skill-Name">Git</span>
        </div>
      </div>



    </div>
  </div>





</div>