<div class="skills-container">
  <h1>Skills</h1>

  <div class="skill-category">
    <div class="category-title">PROGRAMMING LANGUAGES</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
            <span class="Skill-Name">JavaScript</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Java</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">C#</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">HTML</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
            <span class="Skill-Name">CSS</span>
        </div>
      </div>

    </div>
  </div>




  <div class="skill-category">
    <div class="category-title">Database</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">PostgreSQL</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">SQL Server</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">MySQL</span>
        </div>
      </div>



    </div>
  </div>




  <div class="skill-category">
    <div class="category-title">Tools and Frameworks</div>
    <div class="skills-list">
      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Angular</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">.NET Core</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Spring Boot</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Visual Studio</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Android Studio</span>
        </div>
      </div>

      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Eclipse</span>
        </div>
      </div>


      <div class="skill-item">
        <div class="icon-container">
           <span class="Skill-Name">Git</span>
        </div>
      </div>



    </div>
  </div>





</div>