<div class="experience-container" appScrollAnimation>
    <h1>Experience</h1>
    
    <div class="experience-card">
        <div class="experience-header">
            <h2>ASSETCUES</h2>
            <h3>Full Stack Developer (Angular & .NET Core)</h3>
            <p>Pune | Aug 2023 - Present</p>
        </div>
        <div class="experience-content">
            <ul>
                <li>Created and built front-end apps using the Angular framework for Asset Tracking Management software.</li>
                <li>Added dynamic API integrations to allow data exchange and functionality to work smoothly in the software.</li>
                <li>Worked closely with different teams like UX/UI designers, backend developers, and product managers to ensure a cohesive software experience.</li>
            </ul>
        </div>
    </div>
    


  </div>
  